logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
/out
.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.DS_Store

# hidden cross project folders
shared/.js
shared/.jvm

# temp files
.~*
*~
*.orig

# eclipse
.scala_dependencies
.buildpath
.cache
.target
bin/
pdfcache/
cache/
releases/

aws.sh
set_env.sh
tunnel_setup.sh
cmd_run.sh

cmd
cmdserver_src_main_resources_application.conf
copy_to_server.sh
data/test_urls.txt
data/test_urls2.txt
drivers/
dump_06102020.7z
kill_sbt.sh
kill_server.sh
non_compititors_output.log
notes
products.txt
run/
run_cmdserver.sh
scalacOptions.sbt
urls.txt
data
